.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  padding: 50px 20px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  /* display: none; */
}

.overlay_show {
  /* display: flex; */
}

@media (max-width: 660px) {
  .overlay {
    min-height: 539px;
    padding-bottom: 0;
  }
  .popup {
    padding: 10px;
  }
}
