.overlay__error {
  position: absolute;
  left: 115px;
  top: 25px;
  /* min-height: 100vh;
  padding: 50px 20px; */
  width: 100%;
  max-width: 350px;
  height: 20vw;
  background-color: #f2f0f9;
  z-index: 1;
  padding-top: 109px;
  text-align: center;
  display: none;
}

.overlay__error-text {
  color: #6e6893;
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.overlay__cross {
  margin-bottom: 33px;
}
