.table-footer {
  display: flex;
  background: rgb(244, 242, 255);
  padding: 15px 30px;
  gap: 50px;
  justify-content: right;
  overflow-x: auto;
}

@media (max-width: 520px) {
  .table-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    gap: 15px;
    row-gap: 5px;
    padding: 10px;
  }
}

@media (max-width: 410px) {
  .table-footer {
    grid-template-columns: 1fr;
  }
}
