.turn svg {
  width: 6px;
  height: 10px;
  cursor: pointer;
}
.turn {
  display: flex;
  gap: 50px;
}

.arrow-left,
.arrow-right {
  background: rgb(244, 242, 255);
}

.turn svg:hover path {
  fill: #cd06ff;
}
