.form__total-amount {
  color: #6e6893;
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  float: left;
  transform: translateY(60px);
}

@media (max-width: 559px) {
  .form__total-amount {
    padding-bottom: 10px;
  }
}
