.form__amount-money {
  color: #6d5bd0;
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 755px) {
  .form__amount-money_add-from {
    margin-right: 20px;
  }
}
