.button-filter,
svg {
  width: 108px;
  height: 40px;
}
.button-filter,
svg:hover path {
  transition: 0.4s;
  fill: white;
}

.button-filter,
svg:hover rect {
  transition: 0.4s;
  fill: #6d5bd0;
}

.button-filter,
svg:active rect {
  transition: 0.4s;
  fill: #351db8;
}

.button-filter,
svg:focus rect {
  transition: 0.4s;
  fill: #351db8;
}

.not-img {
  cursor: not-allowed;
  z-index: 10;
}

.not-img:hover path {
  fill: #351db8;
}
