.thead-crm__title {
  color: rgb(110, 104, 147);
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 600px;
  line-height: 15px;
  letter-spacing: 5%;
  text-transform: uppercase;
  padding: 15px 0;
}

.thead-crm__title:nth-child(1),
.thead-crm__title:nth-child(2),
.thead-crm__title:nth-child(3) {
  text-align: left;
}

.thead-crm__title:first-child {
  padding-left: 15px;
}
