.form__submit {
  max-width: 200px;
  background: #6d5bd0;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 600px;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 24px;
  border-radius: 6px;
  float: right;
  transform: translateY(60px);
}
.form__submit:hover,
.form__add-img:hover,
.form__add-img:focus,
.form__submit:focus {
  background-color: #351db8;
  transition: 0.4s;
}
.form__submit:active,
.form__add-img:active {
  background-color: #190e58;
  transition: 0.4s;
}

.form__submit_cms {
  float: none;
  transform: none;
}

.form__add-img {
  color: #fff;
  background: #6d5bd0;
  border-radius: 6px;
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 600px;
  line-height: normal;
  text-transform: uppercase;
  max-width: 250px;
  cursor: pointer;
  padding: 11px 27px;
}

@media (max-width: 559px) {
  .form__submit {
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
  }
  .form__submit_cms {
    margin: 0;
    float: none;
  }
}

@media (max-width: 820px) {
  .form__submit {
    margin-right: 0;
    float: none;
    transform: none;
  }

  .form__submit_add-from {
    margin-bottom: 10px;
  }

  .form__add-img {
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
  .form__add-img {
    max-width: 219px;
    padding: 11px 7px;
  }
}
