.form__submint {
  max-width: 200px;
  background: #6d5bd0;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 600px;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 24px;
  border-radius: 6px;
  float: right;
  transform: translateY(60px);
}
.form__submint:hover,
.form__add-img:hover,
.form__add-img:focus,
.form__submint:focus {
  background-color: #351db8;
  transition: 0.4s;
}
.form__submint:active,
.form__add-img:active {
  background-color: #190e58;
  transition: 0.4s;
}

.form__submint_cms {
  float: none;
  transform: none;
}

.form__add-img {
  color: #fff;
  background: #6d5bd0;
  border-radius: 6px;
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 600px;
  line-height: normal;
  text-transform: uppercase;
  max-width: 250px;

  padding: 11px 27px;
}

@media (max-width: 735px) {
  .form__submint_add-from {
    margin-bottom: 10px;
  }
}

@media (max-width: 559px) {
  .form__submint {
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
  }
  .form__submint_cms {
    margin: 0;
    float: none;
  }
}
